:root {
  --primary-color: #2b84df;
  --secondary-color: #dfaa60;
  --third-color: #f4ece6;

  --primary-bg-color: white;
  --secondary-bg-color: #23233c;

  --color-fuente: #1e0202;
  --color-fondo: #dddeea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 8vh);
}

body {
  background-color: var(--color-fondo);
  color: var(--color-fuente);
}
