.margin-blog {
  width: 100vw;
  height: 7rem;
}

.blog-gallery {
  gap: 3rem;
}

/* =================================================
                   MEDIA QUERIES
 ================================================= */

@media screen and (min-width: 768px) {
  .blog-gallery {
    padding: 0 2rem;
  }

  h3 {
    margin-bottom: 5rem;
  }
}
