.margin-blog {
  width: 100%;
  height: 7rem;
}

.blog-gallery {
  gap: 3rem;
  margin-bottom: 4rem;
}

.container-blog {
  padding: 0 1rem 3rem 1rem;
}

/* =================================================
                   MEDIA QUERIES
 ================================================= */

@media screen and (min-width: 376px) and (max-width: 767px) {
  .margin-blog {
    height: 9rem;
  }
}

@media screen and (min-width: 768px) {
  .blog-gallery {
    padding: 0 2rem;
  }

  h3 {
    margin-bottom: 5rem;
  }

  .margin-blog {
    height: 10rem;
  }

  .container-blog {
    padding: 0 2rem;
  }
}
